.visualization-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh 1vw;
    height: 80px;
    width: 80px;
    color: #000;
    border-radius: 50%;
}
